/* You can add global styles to this file, and also import other style files */


body {
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light background color */
    color: #333; /* Dark text color for good contrast */
    line-height: 1.6; /* Improve readability */
    margin: 0;
    padding: 0;
  }